<h1 align=center><font size=5>Data Analysis with Python</font></h1>

<h1>Data Preprocessing Assignment</h1>

<h3>Individuale Assignment!</h3>

Dear all, Please complete this assignment and submit to google drive

<h4>Import pandas</h4>

In [3]:
# Write your code below 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Use the Pandas method <b>read_csv()</b> to load the data (mydataset). The dataset is available in the same drive

In [2]:
# Write your code below "mydataset.csv"
df= pd.read_csv('mydataset.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,car-price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

 Use the method <b>head()</b> to display the first five rows of the dataframe.

In [66]:
# To see what the data set looks like, we'll use the head() method.
df.head()
# print(df)

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,highway-mpg,car-price,Fuel_Type_Diesel,Fuel_Type_Gas,Fuel_Type_Diesel,Fuel_Type_Gas,Fuel_Type_Diesel,Fuel_Type_Gas,Fuel_Type_Diesel,Fuel_Type_Gas
0,3,122.0,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,13495,False,True,False,True,False,True,False,True
1,3,122.0,alfa-romero,two,convertible,rwd,front,88.6,168.8,64.1,...,27,16500,False,True,False,True,False,True,False,True
2,1,122.0,alfa-romero,two,hatchback,rwd,front,94.5,171.2,65.5,...,26,16500,False,True,False,True,False,True,False,True
3,2,164.0,audi,four,sedan,fwd,front,99.8,176.6,66.2,...,30,13950,False,True,False,True,False,True,False,True
4,2,164.0,audi,four,sedan,4wd,front,99.4,176.6,66.4,...,22,17450,False,True,False,True,False,True,False,True

<h2 id="identify_handle_missing_values">Identify and handle missing values</h2>


<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B

In [19]:
# Write your code below 
df.replace("?", np.nan, inplace=True)

# Display the modified 
print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            3               NaN  alfa-romero       gas        std
1            3               NaN  alfa-romero       gas        std
2            1               NaN  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg car-price
0        5000       21          27     13495
1        5000       21          27     16500
2        5000       19          26     16500
3        5500       24          30     13950
4        5500       18          22     17450
..        ...      ...         ...       ...
200      5400       23          28     16845
201      5300       19          25     19045
202      5500       18          23     21485
203      4800       26          27     22470
204      5400       19          25     22625

[205 rows x 26 columns]

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [74]:
# Write your code below 
df.isnull
df.notnull()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,highway-mpg,car-price,Fuel_Type_Diesel,Fuel_Type_Gas,Fuel_Type_Diesel,Fuel_Type_Gas,Fuel_Type_Diesel,Fuel_Type_Gas,Fuel_Type_Diesel,Fuel_Type_Gas
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
197,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
198,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
199,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
200,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

"True" stands for missing value, while "False" stands for not missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values. 
</p>

In [27]:
# Write your code below 

for column in df.columns:
    missing_count = df[column].isnull().sum()
    print(f"Column '{column}' has {missing_count} missing values.")

Column 'symboling' has 0 missing values.
Column 'normalized-losses' has 41 missing values.
Column 'make' has 0 missing values.
Column 'fuel-type' has 0 missing values.
Column 'aspiration' has 0 missing values.
Column 'num-of-doors' has 0 missing values.
Column 'body-style' has 0 missing values.
Column 'drive-wheels' has 0 missing values.
Column 'engine-location' has 0 missing values.
Column 'wheel-base' has 0 missing values.
Column 'length' has 0 missing values.
Column 'width' has 0 missing values.
Column 'height' has 0 missing values.
Column 'curb-weight' has 0 missing values.
Column 'engine-type' has 0 missing values.
Column 'num-of-cylinders' has 0 missing values.
Column 'engine-size' has 0 missing values.
Column 'fuel-system' has 0 missing values.
Column 'bore' has 4 missing values.
Column 'stroke' has 4 missing values.
Column 'compression-ratio' has 0 missing values.
Column 'horsepower' has 2 missing values.
Column 'peak-rpm' has 2 missing values.
Column 'city-mpg' has 0 missing values.
Column 'highway-mpg' has 0 missing values.
Column 'car-price' has 4 missing values.

Based on the summary above, each column has 205 rows of data, seven columns containing missing data:
<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"car-price": 4 missing data</li>
</ol>

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>
<ul>
    <li>"car-price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

<h4>Calculate the mean value for "normalized-losses" </h4>

In [26]:
# replace "num-of-doors"
df['num-of-doors'].fillna('two', inplace=True)

print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            3               NaN  alfa-romero       gas        std
1            3               NaN  alfa-romero       gas        std
2            1               NaN  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg car-price
0        5000       21          27     13495
1        5000       21          27     16500
2        5000       19          26     16500
3        5500       24          30     13950
4        5500       18          22     17450
..        ...      ...         ...       ...
200      5400       23          28     16845
201      5300       19          25     19045
202      5500       18          23     21485
203      4800       26          27     22470
204      5400       19          25     22625

[205 rows x 26 columns]

In [24]:
# drop miss in car-price
df_cleaned = df.dropna(subset=['car-price'])

print(df_cleaned)

     symboling normalized-losses         make fuel-type aspiration  \
0            3               NaN  alfa-romero       gas        std
1            3               NaN  alfa-romero       gas        std
2            1               NaN  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg car-price
0        5000       21          27     13495
1        5000       21          27     16500
2        5000       19          26     16500
3        5500       24          30     13950
4        5500       18          22     17450
..        ...      ...         ...       ...
200      5400       23          28     16845
201      5300       19          25     19045
202      5500       18          23     21485
203      4800       26          27     22470
204      5400       19          25     22625

[201 rows x 26 columns]

In [1]:
# Write your code below

<h4>Replace "NaN" by mean value in "normalized-losses" column</h4>

In [68]:
# mean normalized-losses
mean_normalized_losses = df['normalized-losses'].mean()
print(mean_normalized_losses)

122.0

In [75]:
# Write your code below 
df['normalized-losses'].fillna('mean_normalized_losses', inplace=True)

print(df)

SyntaxError: incomplete input (1509969368.py, line 2)

<h4>Calculate the mean value for 'bore' column</h4>

In [15]:
# x is independent and y is dependent
x = df[['symboling', 'normalized-losses',	'make',	'fuel-type',	'aspiration', 'num-of-doors', 'body-style',	'drive-wheels',	'engine-location',	'wheel-base	length',	'width',	'height',	'curb-weight',	'engine-type',	'num-of-cylinders',	'engine-size',	'fuel-system',	'bore',	'stroke',	'compression-ratio',	'horsepower',	'peak-rpm',	'city-mpg',	'highway-mpg'	
]]
y = df['car-price']
x

KeyError: "['wheel-base\\tlength'] not in index"

<h4>Replace NaN by mean value</h4>

In [57]:
# Write your code below 
df['num-of-doors'].fillna('NaN', inplace=True)

print(df)

<b>According to the example above, replace NaN in "stroke" column by mean.</b>

In [33]:
# Write your code below 
df['stroke'].fillna('NaN', inplace=True)

print(df)

     symboling  normalized-losses         make fuel-type aspiration  \
0            3              122.0  alfa-romero       gas        std
1            3              122.0  alfa-romero       gas        std
2            1              122.0  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
..         ...                ...          ...       ...        ...
200         -1               95.0        volvo       gas        std
201         -1               95.0        volvo       gas      turbo
202         -1               95.0        volvo       gas        std
203         -1               95.0        volvo    diesel      turbo
204         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg car-price
0        5000       21          27     13495
1        5000       21          27     16500
2        5000       19          26     16500
3        5500       24          30     13950
4        5500       18          22     17450
..        ...      ...         ...       ...
200      5400       23          28     16845
201      5300       19          25     19045
202      5500       18          23     21485
203      4800       26          27     22470
204      5400       19          25     22625

[205 rows x 26 columns]

<h4>Calculate the mean value for the  'horsepower' column:</h4>

In [35]:
# Write your code below 

df['normalized-losses'] = pd.to_numeric(df['normalized-losses'], errors='coerce')

mean_normalized_losses = df['normalized-losses'].mean()

print(f"Mean of normalized-losses: {mean_normalized_losses}")

Mean of normalized-losses: 122.0

<h4>Replace "NaN" by mean value:</h4>

In [37]:
# Write your code below 
df['normalized-losses'].fillna(mean_normalized_losses, inplace=True)

print(df)

     symboling  normalized-losses         make fuel-type aspiration  \
0            3              122.0  alfa-romero       gas        std
1            3              122.0  alfa-romero       gas        std
2            1              122.0  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
..         ...                ...          ...       ...        ...
200         -1               95.0        volvo       gas        std
201         -1               95.0        volvo       gas      turbo
202         -1               95.0        volvo       gas        std
203         -1               95.0        volvo    diesel      turbo
204         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg car-price
0      5000.0       21          27     13495
1      5000.0       21          27     16500
2      5000.0       19          26     16500
3      5500.0       24          30     13950
4      5500.0       18          22     17450
..        ...      ...         ...       ...
200    5400.0       23          28     16845
201    5300.0       19          25     19045
202    5500.0       18          23     21485
203    4800.0       26          27     22470
204    5400.0       19          25     22625

[205 rows x 26 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_15944\3321658896.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['normalized-losses'].fillna(mean_normalized_losses, inplace=True)

<h4>Calculate the mean value for 'peak-rpm' column:</h4>

In [36]:
# Write your code below 
df['peak-rpm'] = pd.to_numeric(df['peak-rpm'], errors='coerce')

mean_peak_rpm = df['peak-rpm'].mean()

print(f"Mean of peak-rpm: {mean_peak_rpm}")

Mean of peak-rpm: 5125.369458128079

<h4>Replace NaN by mean value:</h4>

In [38]:
# Write your code below 
df['stroke'].fillna('NaN', inplace=True)

print(df)

     symboling  normalized-losses         make fuel-type aspiration  \
0            3              122.0  alfa-romero       gas        std
1            3              122.0  alfa-romero       gas        std
2            1              122.0  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
..         ...                ...          ...       ...        ...
200         -1               95.0        volvo       gas        std
201         -1               95.0        volvo       gas      turbo
202         -1               95.0        volvo       gas        std
203         -1               95.0        volvo    diesel      turbo
204         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg car-price
0      5000.0       21          27     13495
1      5000.0       21          27     16500
2      5000.0       19          26     16500
3      5500.0       24          30     13950
4      5500.0       18          22     17450
..        ...      ...         ...       ...
200    5400.0       23          28     16845
201    5300.0       19          25     19045
202    5500.0       18          23     21485
203    4800.0       26          27     22470
204    5400.0       19          25     22625

[205 rows x 26 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_15944\1325789522.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['stroke'].fillna('NaN', inplace=True)

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

To see which values are present in a particular column, please use the ".value_counts()" method:

In [1]:
# Write your code below for "num-of-doors"

As you can see that four doors are the most common type. You can also use the ".idxmax()" method to calculate for us the most common type automatically:

In [2]:
# Write your code below

The replacement procedure is very similar to what we have seen previously

In [63]:
#replace the missing 'num-of-doors' values by the most frequent 
df['normalized-losses'].fillna(mean_normalized_losses, inplace=True)

print(df)

     symboling  normalized-losses         make num-of-doors   body-style  \
0            3              122.0  alfa-romero          two  convertible
1            3              122.0  alfa-romero          two  convertible
2            1              122.0  alfa-romero          two    hatchback
3            2              164.0         audi         four        sedan
4            2              164.0         audi         four        sedan
..         ...                ...          ...          ...          ...
196         -1               95.0        volvo         four        sedan
197         -1               95.0        volvo         four        sedan
198         -1               95.0        volvo         four        sedan
199         -1               95.0        volvo         four        sedan
200         -1               95.0        volvo         four        sedan

    drive-wheels engine-location  wheel-base  length  width  ...  highway-mpg  \
0            rwd           front        88.6   168.8   64.1  ...           27
1            rwd           front        88.6   168.8   64.1  ...           27
2            rwd           front        94.5   171.2   65.5  ...           26
3            fwd           front        99.8   176.6   66.2  ...           30
4            4wd           front        99.4   176.6   66.4  ...           22
..           ...             ...         ...     ...    ...  ...          ...
196          rwd           front       109.1   188.8   68.9  ...           28
197          rwd           front       109.1   188.8   68.8  ...           25
198          rwd           front       109.1   188.8   68.9  ...           23
199          rwd           front       109.1   188.8   68.9  ...           27
200          rwd           front       109.1   188.8   68.9  ...           25

     car-price  Fuel_Type_Diesel Fuel_Type_Gas  Fuel_Type_Diesel  \
0        13495             False          True             False
1        16500             False          True             False
2        16500             False          True             False
3        13950             False          True             False
4        17450             False          True             False
..         ...               ...           ...               ...
196      16845             False          True             False
197      19045             False          True             False
198      21485             False          True             False
199      22470              True         False              True
200      22625             False          True             False

    Fuel_Type_Gas  Fuel_Type_Diesel Fuel_Type_Gas  Fuel_Type_Diesel  \
0            True             False          True             False
1            True             False          True             False
2            True             False          True             False
3            True             False          True             False
4            True             False          True             False
..            ...               ...           ...               ...
196          True             False          True             False
197          True             False          True             False
198          True             False          True             False
199         False              True         False              True
200          True             False          True             False

    Fuel_Type_Gas
0            True
1            True
2            True
3            True
4            True
..            ...
196          True
197          True
198          True
199         False
200          True

[201 rows x 32 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_15944\961574089.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['normalized-losses'].fillna(mean_normalized_losses, inplace=True)

<b>Drop the whole row:</b>
<ul>
    <li>"car-price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

Finally, let's drop all rows that do not have price data:

In [62]:
# simply drop whole row with NaN in "car-price" column
df.dropna(subset=["car-price"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

<b>Good!</b> Now, we obtain the dataset with no missing values.

<h3 id="correct_data_format">Correct data format</h3>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Lets list the data types for each column</h4>

In [5]:
# Your code here

As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, **'bore'** and **'stroke'** variables are numerical values that describe the engines, so we should expect them to be of the type *'float'* or *'int'*; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.

<h4>Convert data types to proper format</h4>

In [68]:
# Write your code below for "bore" and "stroke" features

<h4>List the columns after the conversion</h4>

In [1]:
# Write your code below

<b>Wonderful!</b>

Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.

<h2 id="indicator">Indicator variable (or dummy variable)</h2>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p><br>
Example

We see the column **fuel-type** has two unique values, "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" into indicator variables.


<p>
    We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type. 
</p>

get indicator variables and assign it to data frame "dummy_variable"

In [39]:
# Write your code below for "fuel-type" feature. 
dummy_variable = pd.get_dummies(df['fuel-type'], prefix='fuel-type')

print(dummy_variable)

     fuel-type_diesel  fuel-type_gas
0               False           True
1               False           True
2               False           True
3               False           True
4               False           True
..                ...            ...
200             False           True
201             False           True
202             False           True
203              True          False
204             False           True

[205 rows x 2 columns]

change column names for clarity

In [40]:
# Write your code below 
dummy_variable.columns = ['Fuel_Type_Diesel', 'Fuel_Type_Gas']

print(dummy_variable)

     Fuel_Type_Diesel  Fuel_Type_Gas
0               False           True
1               False           True
2               False           True
3               False           True
4               False           True
..                ...            ...
200             False           True
201             False           True
202             False           True
203              True          False
204             False           True

[205 rows x 2 columns]

We now have the value 0 to represent "gas" and 1 to represent "diesel" in the column "fuel-type". We will now insert this column back into our original dataset.

The last two columns are now the indicator variable representation of the fuel-type variable. It's all 0s and 1s now.

<b>As above, create indicator variable to the column of "aspiration": "std" to 0, while "turbo" to 1.</b>

In [53]:
# Write your code below for "aspiration" feature. 

df.drop('aspiration', axis=0, inplace=True)
print(df)

KeyError: "['aspiration'] not found in axis"

In [ ]:
df.drop('aspiration', axis=1, inplace=True)
print(df)

<b>Merge the new dataframe to the original dataframe then drop the column 'aspiration'</b>

In [61]:
# Write your code below 

df.drop('aspiration', axis=1, inplace=True)

print(df)

KeyError: "['aspiration'] not found in axis"

**save your file and upload to the Google Drive.**

Source: IBM, MIT